<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Interop.Office.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Interop.Office.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Interop.Office.Core.Properties.Settings>
            <setting name="ftnBoltNut_SaveAsmPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ftnBoltNut_AutoL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ftnBoltNut_selPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PrinterFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer_chkSubPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrinterFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer_cmbPrintWidth" serializeAs="String">
                <value>A0</value>
            </setting>
            <setting name="Printer_rdoInARow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Printer_chkAutoColor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Printer_txtA0W" serializeAs="String">
                <value>890</value>
            </setting>
            <setting name="Printer_txtA1W" serializeAs="String">
                <value>630</value>
            </setting>
            <setting name="Printer_txtA2W" serializeAs="String">
                <value>430</value>
            </setting>
            <setting name="Printer_txtA3W" serializeAs="String">
                <value>297</value>
            </setting>
            <setting name="Printer_txtA4W" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="Printer_txtA0H" serializeAs="String">
                <value>1230</value>
            </setting>
            <setting name="Printer_txtA1H" serializeAs="String">
                <value>870</value>
            </setting>
            <setting name="Printer_txtA2H" serializeAs="String">
                <value>610</value>
            </setting>
            <setting name="Printer_txtA3H" serializeAs="String">
                <value>430</value>
            </setting>
            <setting name="Printer_txtA4H" serializeAs="String">
                <value>297</value>
            </setting>
            <setting name="Printer_cmbSpaceXY" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Printer_cmbSpaceLT" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Printer_chkAddLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Symbol_LastNodePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Symbol_bDisplayName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frmAll_width" serializeAs="String">
                <value>699</value>
            </setting>
            <setting name="frmAll_height" serializeAs="String">
                <value>596</value>
            </setting>
            <setting name="frmAll_spltADisct" serializeAs="String">
                <value>262</value>
            </setting>
            <setting name="frmAll_spltCDisct" serializeAs="String">
                <value>227</value>
            </setting>
            <setting name="frmAll_spltBDisct" serializeAs="String">
                <value>382</value>
            </setting>
            <setting name="AutoCV_radioNewPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCV_DefaultExt" serializeAs="String">
                <value>.PDF</value>
            </setting>
            <setting name="AutoCV_arExtensions" serializeAs="String">
                <value>.slddrw</value>
            </setting>
            <setting name="fntWeb_ServerIP" serializeAs="String">
                <value>192.168.10.31</value>
            </setting>
            <setting name="fntWeb_SavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="bAddToolBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShowStartForm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bOnePartManyConf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="swBomRowLength" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="swBomType_e" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="strWorkPath" serializeAs="String">
                <value />
            </setting>
            <setting name="exe1ength" serializeAs="String">
                <value>123456789012</value>
            </setting>
            <setting name="WriteTechnic_Line" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="exeStartx" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="exeStarty" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="addPPage_width" serializeAs="String">
                <value>328</value>
            </setting>
            <setting name="addPPage_height" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="swBomBomTemplate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setUpInTolerance" serializeAs="String">
                <value>True,True,True,3,1,False</value>
            </setting>
            <setting name="fntWeb_width" serializeAs="String">
                <value>910</value>
            </setting>
            <setting name="fntWeb_height" serializeAs="String">
                <value>590</value>
            </setting>
            <setting name="Tolerance_bTopWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tolerance_bDisplayPC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tolerance_bDisplayGCD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tolerance_bPCinKH" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tolerance_iPrecision" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Tolerance_iTaoHeStyle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BOM_rdoCfgAtt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BOM_rdoListAtt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BOM_chkIgnoreAsm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BOM_DZ" serializeAs="String">
                <value>$单重</value>
            </setting>
            <setting name="BOM_ZZ" serializeAs="String">
                <value>$总重</value>
            </setting>
            <setting name="BOM_SL" serializeAs="String">
                <value>$数量小计</value>
            </setting>
            <setting name="AboutTabSelIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dwgtemplateCompanyName" serializeAs="String">
                <value>迈迪数码</value>
            </setting>
            <setting name="RepName_txtNewStr" serializeAs="String">
                <value />
            </setting>
            <setting name="RepName_txtOldStr" serializeAs="String">
                <value />
            </setting>
            <setting name="RepName_txtFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RepName_bIncProperty" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XingWei_Level" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WriteTech_LineDist" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WriteTech_TxtHeight" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WriteTech_LineTxtNbl" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="AutoCV_selpath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoCV_selMFiles" serializeAs="String">
                <value />
            </setting>
            <setting name="Auto_bAllExtensions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Auto_bChangeExten" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Auto_arExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="Auto_iLevel" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AddCode_RetCode" serializeAs="String">
                <value />
            </setting>
            <setting name="AddCode_CodePre" serializeAs="String">
                <value />
            </setting>
            <setting name="AddCode_CodeLevel" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="AddCode_Sepeater" serializeAs="String">
                <value />
            </setting>
            <setting name="swBomTitleBarHeight" serializeAs="String">
                <value>56</value>
            </setting>
            <setting name="MDEXE_UseXuanGua" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkPanelIsActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dblBomRowLength" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="swBomRowCount1" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="swBomRowCount2" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="exeFormWidth_J" serializeAs="String">
                <value>580</value>
            </setting>
            <setting name="Tolerance_bSmallWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmAll_bUseCache" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateNbr_PPtName" serializeAs="String">
                <value>序号</value>
            </setting>
            <setting name="CreateNbr_StartIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BOM_filterIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExcelExtension" serializeAs="String">
                <value />
            </setting>
            <setting name="BOM_chkIgnoreSuppressed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fntWeb_dgvPptHid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frmAll_bThreadMaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="frmAll_bDelFormula" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MDEXE_AutoHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fntWeb_mdpgksfilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MDExe_Times" serializeAs="String">
                <value>[1=0][15=0]</value>
            </setting>
            <setting name="MDEXE_UseBigIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exeOSBit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Login_SavePWD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Login_strPWD" serializeAs="String">
                <value />
            </setting>
            <setting name="Login_strName" serializeAs="String">
                <value />
            </setting>
            <setting name="DimMgrSelArr" serializeAs="String">
                <value />
            </setting>
            <setting name="HuaDong_2dChecked" serializeAs="String">
                <value />
            </setting>
            <setting name="StrReplace_cfg" serializeAs="String">
                <value />
            </setting>
            <setting name="BomWritePPT_cfg" serializeAs="String">
                <value />
            </setting>
            <setting name="HuaDong_MaoZhongPPT" serializeAs="String">
                <value>毛重</value>
            </setting>
            <setting name="HuaDong_XYZPPT" serializeAs="String">
                <value>名称</value>
            </setting>
            <setting name="HuaDong_DwgSize" serializeAs="String">
                <value>纸张大小</value>
            </setting>
            <setting name="saidi_cmbNameType" serializeAs="String">
                <value>"工程图号""版本号"</value>
            </setting>
            <setting name="DimMgr_AllViews" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DimMgr_DuplicateDims" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DimMgr_HiddenFeatureDims" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DimMgr_Option" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DimMgr_UsePlacementInSketch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BOM_chkIgnoreSubWeldment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BOM_chkCurrConfig" serializeAs="String">
                <value>True</value>
            </setting>
        </Interop.Office.Core.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Interop.Office.Core.Properties.Settings>
            <setting name="Interop_Office_Core_my3dparts_MDTool" serializeAs="String">
                <value>http://www.my3dparts.com/asmx/MDTool.asmx</value>
            </setting>
            <setting name="AutoPartNo_my3dparts_MDTool" serializeAs="String">
                <value>http://www.my3dparts.com/asmx/MDTool.asmx</value>
            </setting>
        </Interop.Office.Core.Properties.Settings>
    </applicationSettings>
</configuration>
